@import '../../component/Methods/calculate.scss';
@import '../../component/Methods/Setting.scss';
@import '../../component/Methods/mediaquery.scss';

.DatePickerContainer {
    @include Size(100vw, 100vh);
    @include Position(absolute, 0, 0);
    z-index: -1;


    .coverbg {
        transform: translateX(-100%);
        position: absolute;
        z-index: -1;
        top: 0;
        width: 100%;
        height: 100vh;
        opacity: 0;
        background: black;
    }

    .DatePickerContent {
        @include Size(320px);
        @include Position(absolute, 50%, 50%);
        @include Flex(column, space-between);
        transform: translateX(-120%);
        margin-top: -25%;
        margin-left: -168px;
        padding: 24px 8px 8px 8px;
        background: #FFF;
        border-radius: 5px;

        .PickerText {
            @include Size(100%);
            @include Flex();
            font-size: 1.4rem;
            font-weight: bold;
        }

        .DateArea {
            @include Size(100%, 44px);
            @include Flex(row, space-around);
            margin: 24px 0;

            input {
                @include Size(148px, 100%);
                @include Flex();
                flex: 0 0 148px;
                font-size: 1.166666rem;
                color: $L-B4;
                text-align: center;
                text-align: -webkit-center;
                text-align-last: -webkit-center;
                text-align-last: center;
                border: 1px #DDD solid;
                box-sizing: border-box;
                // background: #FFF;
                -webkit-appearance: none !important;
            }

            input[type="date"]::-webkit-inner-spin-button,
            input[type="date"]::-webkit-outer-spin-button,
            input[type="date"]::-webkit-calendar-picker-indicator,
            input[type="date"]::-webkit-clear-button {
                width: 0 !important;
                // padding-right: -16px;
                // margin-right: -16px;
                // height: 0 !important;
                padding: 0 !important;
                margin: 0 !important;
                display: inline-block !important;
                -webkit-appearance: none !important;
            }
        }

        .DateBtns {
            @include Size(100%, 44px);
            @include Flex(row, space-around);
            margin-bottom: 8px;

            .Btn {
                @include Size(148px, 100%);
                @include Flex();
                flex: 0 0 148px;
                font-size: 1.166666rem;
                color: #FFF;
                text-align: center;
                text-align: -webkit-center;
                text-align-last: -webkit-center;
                text-align-last: center;
            }

            .cancel {
                background: $L-B8;
            }

            .confirm {
                background: $L-Green
            }
        }
    }
}